
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

bin/
obj/

*.log
*.tlog
*.cache
*.tmp
*.pdb

packages/
*.nupkg
project.lock.json
project.assets.json

.idea/
*.sln.iml

*_Resharper*/
*.DotSettings.user

Migrations/

.vscode/
.DS_Store
node_modules/
wwwroot/lib/
wwwroot/dist/

TestResults/
*.trx
.coverage

*.publish/
*.deploy/
